/*Red = #FFB4B0  
Blue = #4DD7FA  
Light yellow = #FEFAC0  
Dark yellow = #785616*/

/*------------------
-------GENERAL------
--------------------*/

body {
	font-family: Arial, sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/*-------------------
---------NAV---------
---------------------*/

nav {
	width: 798px;
	height: 53px;
	border: 2px solid black;
	margin: 50px auto 20px;
	background: #FFB4B0;
}

nav ul li {
	list-style: none;
	display: inline;
}


/*--grouping history and choices box for ease of layout---*/

.second-level {
	margin: 0 auto;
	width: 798px;
	height: 500px;
	/*border: 1px solid black;*/
	padding-top: -20px;
}


/*-------------------
CHOICES SIDE BAR---------
---------------------*/

.choices {
	width: 185px;
	height: 372px;
	border: 2px solid black;
	display: inline-block;
	background: #4DD7FA;
	
}

.slider,
.artist-drop,
.album-drop {
	display: block;
}

.slider {
	margin: 10px;

}

.slider input {
	width: 110%;
}

.range {
	margin: 10px 20px 10px 30px;
}
.artist-drop {
	margin: 10px;
}

.album-drop {
	margin: 10px;
}

.album-drop select {
	margin-bottom: 10px;
}

.genre {
	margin: 10px 10px 20px;
}

/*.genre li {
	list-style: none;
	width: 45%;

}.genre ul {
	margin: 0;
}*/

.left-check,
.right-check {
	list-style: none;
}

.left-check {
	/*width: 45%;*/
	display: inline;
	padding: 0;
	margin-top: 10px;

}

.right-check {
	/*width: 54%;*/
	display: inline;
	padding: 0;
}

.filter {
	width: 130px;
	height: 30px;
	border-radius: 8%;
	margin-left: 25px;
	margin-top: 10px;
}

/*-------------------
--------HISTORY---------
---------------------*/

.history {
	width: 597px;
	height: 372px;
	border: 2px solid black;
	background: #FEFAC0; 
	display: inline-block;
	/*margin-left: 3.57px;*/
	float: right;
}

.song {
	display: block;
	margin-left: 30px;
}

.song h2 {
	color: #785616;
	font-weight: lighter;
}

.song p,
.artist-name,
.album-name,
.song-genre {
	display: inline;
	font-size: .95em;
}

.artist-name {
	padding-right: 10px;
}

.album-name {
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 0 10px;

}

.song-genre {
	padding-left: 10px;
}

















